.quick-lists{
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding: 10px;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 20px;
}

.quick-lists .item{
    padding: 20px;
    text-align: center;
    min-width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: #fff;
}

.quick-lists .item .item-img img{
    padding: 30px;
    border-radius: 50%;
    --tw-bg-opacity: 1;
    align-items: center;
    background-color: rgba(237,237,237,var(--tw-bg-opacity));
}

.quick-lists .item .item-name{
    color: #555;
    font-weight: 600;
}
.quick-lists .item:hover{
    outline-color: crimson;
    border-radius: 10px;
    border-style: solid;
    border-color: crimson;
}
