.footer{
    text-align: center;
    font-size: 1rem;
    padding: 120px;
    /* background-color: #FF6868; */
    background-image: url(https://www.lifeblood.com.au/themes/custom/arcbs/assets/images/footer-bg.svg);
}